h1 {
  color: #27aedb;
  text-align: center;
}

h2 {
  color: #1f86a8af;
  text-align: center;
}

h3 {
  color: #1351668c;
  text-align: center;
}

button {
  color: #27aedb;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.bg-pink {
  background-color: pink;
}
